* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.nav {
    padding: 20px 10px 20px 10px;
    font-size: 14px;
    border-bottom: 2px solid black;
    text-align: right;

    margin-bottom: 20px;
}

a {
    text-decoration: none;
    margin-right: 15px;
    color: black
}

a:hover {

    -webkit-text-stroke: 1px black;
}

.input_bars {
    text-align: left;
    margin: 0 20% 30px 20%;

}

table {
    margin: 0px auto
}

td {
    padding: 0 50px 0px 50px;

}

#products {
    display: flex;
    flex-wrap: wrap;

}


.product_card {
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
    margin: 15px 15px 15px 15px;
    width: 300px;
    padding: 10px
}